streamlit
sentence-transformers==3.0.1
faiss-cpu
numpy
pandas
scipy
plotly
kaleido
nltk
pdfplumber
python-docx
langdetect
ollama
transformers
torch
sacrebleu
bert-score
openai>=1.40.0
openpyxl
pymupdf
Pillow
