streamlit
sentence-transformers==3.0.1
faiss-cpu
numpy
pandas
scikit-learn
nltk
regex
pdfplumber
python-docx
langdetect
ollama
tqdm
transformers
torch
sacrebleu
bert-score
scipy
matplotlib
arabic-reshaper
python-bidi
